# Sqlite Sql

Começando por carregar o sql no notebook

In [8]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in ./.venv/lib/python3.13/site-packages (from ipython-sql) (9.1.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.40-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: sqlparse in ./.venv/lib/python3.13/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in ./.venv/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting typing-extensions>=4.6.0 (from sqlalchemy>=2.0->ipython-sql)
  Downloading typing_extensions-4.13.2-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: decorator in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in ./.venv/lib/python3.13/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.13/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in ./.venv/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in ./.venv/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in ./.venv/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in ./.venv/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in ./.venv/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.40-cp313-cp313-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.0 MB/s eta 0:00:00a 0:00:01
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading typing_extensions-4.13.2-py3-none-any.whl (45 kB)
Installing collected packages: ipython-genutils, typing-extensions, prettytable, sqlalchemy, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.40 typing-extensions-4.13.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#!pip install ipython-sql
%load_ext sql

In [3]:
%sql sqlite:///contatos.db

In [4]:
%%sql

CREATE TABLE CLIENTES (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///contatos.db
Done.

[]

In [5]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///contatos.db
4 rows affected.

[]

In [11]:
%%sql

SELECT * FROM CLIENTES

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [12]:
%%sql

SELECT * FROM CLIENTES WHERE EMAIL = "leonardo@gmail.com"

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999')]

In [18]:
%%sql

INSERT INTO CLIENTES (NOME, EMAIL, TELEFONE) 
VALUES ('Leonardo' , 'leo@gmail.com', '1199-991199' );

 * sqlite:///contatos.db
1 rows affected.

[]

In [23]:
%%sql

SELECT * FROM CLIENTES WHERE NOME = "Leonardo" AND EMAIL = 'leo@gmail.com'

 * sqlite:///contatos.db
Done.

[(5, 'Leonardo', 'leo@gmail.com', '1199-991199')]

In [26]:
%%sql

SELECT * FROM CLIENTES ORDER BY NOME

 * sqlite:///contatos.db
Done.

[(2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (5, 'Leonardo', 'leo@gmail.com', '1199-991199'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [30]:
%%sql

SELECT DISTINCT NOME FROM CLIENTES;

 * sqlite:///contatos.db
Done.

[('Leonardo',), ('Rafael',), ('Michelangelo',), ('Donatello',)]

In [32]:
%%sql
SELECT COUNT(*) FROM clientes;

 * sqlite:///contatos.db
Done.

[(5,)]

In [33]:
%%sql

UPDATE clientes
SET nome = 'Leonardo X'
WHERE EMAIL = 'leo@gmail.com';

 * sqlite:///contatos.db
1 rows affected.

[]

In [36]:
%%sql
select * from clientes;

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Leonardo X', 'leo@gmail.com', '1199-991199')]

In [37]:
%%sql

DELETE FROM clientes WHERE nome = 'Leonardo X';

 * sqlite:///contatos.db
1 rows affected.

[]

In [42]:
%%sql
select * from clientes;

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Leonardo', 'leo@gmail.com', '1999-9999')]

In [41]:
%%sql

INSERT INTO clientes (nome, email, telefone) 
VALUES ('Leonardo', 'leo@gmail.com', '1999-9999')

 * sqlite:///contatos.db
1 rows affected.

[]